<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="topnav">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">StockSense</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/product/list}">상품관리</a></li>
            <li><a th:href="@{/emp/list}">사원관리</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/auth/logout}">Logout</a></li>
        </ul>
    </div>
</nav>
</body>
</html>
